{% extends 'base.html.twig' %}

{% block title %}Videohub - Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class=col-12>
                <h1>Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-error">
                        {{ form_errors(form.password) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}