<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="{{ path('home') }}">VideoHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.attributes.get('_route') == 'home' %} active {% endif %}">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'video' %} active {% endif %}">
                <a class="nav-link" href="{{ path('video') }}">Videos</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'register' %} active {% endif %}">
                <a class="nav-link" href="{{ path('register') }}">Register</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'login' %} active {% endif %}">
                <a class="nav-link" href="{{ path('login') }}">Login</a>
            </li>
        </ul>
    </div>
</nav>