{% extends 'base.html.twig' %}
{% block title %}Hello !{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <br><br><br>
    <h1>Liste des utilisateurs</h1>
    <ul>
        {% for user in users %}
            <li>firstName : {{ user.firstName }}</li>
            <li>LastName : {{ user.lastName }}</li>
            <li>email : {{ user.email }}</li>
            <br><br>
        {% endfor %}
    </ul>

{% endblock %}
